body{
background-color: white;
text-align: center;
}

.InnerBody{
padding: 50px;
background-color: grey;
border:solid red;
border-radius: 30px;
}

.heading{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: antiquewhite;
  font-weight: bolder
}

.subheading{
  padding: 3px;
  margin: 5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;  
}
.image{
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  text-align: center;
  background-color: cornsilk;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#MainImg{  
  width: 700px;
  height: 500px;
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MainBody{
  width:900px;
  text-align: center; 
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

.list{
  margin-left: auto;
  margin-right: auto;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 18px;
}

.SubList{
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.EndBody{
  
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;

width: 675px;
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold
}

#quote{
font-weight: normal;
  padding: 20px;
margin-bottom: 20px; 
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic
}